Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tweepy
import datetime

In [2]:
#for cleaning data

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import string
from nltk.stem import PorterStemmer
import re

stop_words=stopwords.words('english')
punct=string.punctuation
stemmer=PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ysgard\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
#for making model

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [4]:
# for saving the model

from joblib import dump, load

Data (source: https://www.kaggle.com/kazanova/sentiment140?select=training.1600000.processed.noemoticon.csv)

In [7]:
tweets = pd.read_csv('../lotweets.csv', names=['polarity', 'um', 'so-and-so', 'something', 'trash', 'tweet'])
tweets

,polarity,um,so-and-so,something,trash,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [11]:
#clean the text
cleets = []
for twittre in tweets.tweet:
    #this removes mentions
    twittre = re.sub(r'@[A-Za-z0-9_]+', '', twittre)
    #this removes urls
    twittre = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', twittre)        
    #this removes everything but letters from the str
    twittre = re.sub('[^a-zA-Z]',' ',twittre)
    #this makes everything lowercase, then turns everything that is separated by a space into its own str
    twittre = twittre.lower().split()
    #this removes stop words and stems everything else
    twittre = [stemmer.stem(word) for word in twittre if (word not in stop_words)]
    # this puts it all back together with spaces inbetween
    twittre = ' '.join(twittre)
    cleets.append(twittre)
    if not len(cleets)%10000:
        print(len(cleets))

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000

In [12]:
tweets = pd.DataFrame({'Polarity':tweets.polarity, 'Tweet':cleets})
tweets.to_csv('../lotwean.csv')

Cleaning words from https://www.kaggle.com/nltkdata/opinion-lexicon

In [13]:
negative = pd.read_csv('../negative-words.txt', names=['words'])
positive = pd.read_csv('../positive-words.txt', names=['words'])
cleets = []
for twittre in negative.words:
    #this removes mentions
    twittre = re.sub(r'@[A-Za-z0-9_]+', '', twittre)
    #this removes urls
    twittre = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', twittre)        
    #this removes everything but letters from the str
    twittre = re.sub('[^a-zA-Z]',' ',twittre)
    #this makes everything lowercase, then turns everything that is separated by a space into its own str
    twittre = twittre.lower().split()
    #this removes stop words and stems everything else
    twittre = [stemmer.stem(word) for word in twittre if (word not in stop_words)]
    # this puts it all back together with spaces inbetween
    twittre = ' '.join(twittre)
    cleets.append(twittre)
negative = set(cleets)
with open('../negatean.txt', 'w+') as writer:
    for word in negative:
        writer.write(word+'\n')

        
cleets = []
for twittre in positive.words:
    #this removes mentions
    twittre = re.sub(r'@[A-Za-z0-9_]+', '', twittre)
    #this removes urls
    twittre = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', twittre)        
    #this removes everything but letters from the str
    twittre = re.sub('[^a-zA-Z]',' ',twittre)
    #this makes everything lowercase, then turns everything that is separated by a space into its own str
    twittre = twittre.lower().split()
    #this removes stop words and stems everything else
    twittre = [stemmer.stem(word) for word in twittre if (word not in stop_words)]
    # this puts it all back together with spaces inbetween
    twittre = ' '.join(twittre)
    cleets.append(twittre)
positive = set(cleets)
with open('../positivean.txt', 'w+') as writer:
    for word in positive:
        writer.write(word+'\n')

Removing unnecessary words

In [8]:
negative = set(pd.read_csv('../negativean.txt', names=['words'])['words'])
positive = set(pd.read_csv('../positivean.txt', names=['words'])['words'])
tweets = pd.read_csv('../lotwean.csv')
negativean, positivean = set([]), set([])
for n,tweet in enumerate(tweets.Tweet):
    negatweet = negative.intersection(set(tweet.split()))
    positweet = positive.intersection(set(tweet.split()))
    negativean = negativean.union(negatweet)    
    positivean = positivean.union(positweet)
    if not n%10000:
        print(n)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000

In [33]:
words = negativean.union(positivean)
tweets['Twords'] = [words.intersection(set(tweet.split())) for tweet in tweets.Tweet]
tweets['Nords'] = [len(tword)!=0 for tword in tweets.Twords]

In [39]:
tweets[['Polarity', 'Tweet', 'Twords']].to_csv('../lotwean.csv')
tweets['keep'] = [int(tword=='set()') for tword in tweets.Twords]
tweets[['Polarity', 'Tweet', 'drop']].to_csv('../tweetdb.csv', index=False)

Training the model

In [5]:
keepercentage = .05

negative = set(pd.read_csv('../negativean.txt', names=['words'])['words'])
positive = set(pd.read_csv('../positivean.txt', names=['words'])['words'])
words = list(negative.union(positive))

tweets = pd.read_csv('../tweetdb.csv')
tweets = tweets.drop(index=[i for i in tweets.index if tweets.Drop[i]])
tweets = tweets.sample(frac=keepercentage, random_state=347)
tweets.value_counts('Polarity')

Polarity
0    31462
4    29846
dtype: int64

In [6]:
vectord = CountVectorizer()
vectord.fit(words)
X = vectord.transform(tweets.Tweet).toarray()

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X, tweets.Polarity,
                                                 test_size=2/7, stratify=tweets.Polarity,
                                                 shuffle=True, random_state=347)
model = MultinomialNB()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
report = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.74      0.72      0.73      4495
           4       0.72      0.74      0.73      4264

    accuracy                           0.73      8759
   macro avg       0.73      0.73      0.73      8759
weighted avg       0.73      0.73      0.73      8759

In [8]:
dump(vectord, '../vectord.joblib') 
dump(model, '../model.joblib')

['../model.joblib']

The sentiment analyzer

In [5]:
from joblib import load

vectord = load('../vectord.joblib') 
model = load('../model.joblib') 

#tweets must be cleaned first
def sentiment(tweets, analogue=False):
    if analogue: 
        probs = model.predict_proba(vectord.transform(tweets).toarray())
        return probs[:,1]-probs[:,0]
    else: return model.predict(vectord.transform(tweets).toarray())

In [13]:
tweets = pd.read_csv('../tweetdb.csv').sample(frac=.1, random_state=343)
print(classification_report(tweets.Polarity, sentiment(tweets.Tweet)))

              precision    recall  f1-score   support

           0       0.65      0.78      0.71     55767
           4       0.72      0.58      0.64     55658

    accuracy                           0.68    111425
   macro avg       0.68      0.68      0.67    111425
weighted avg       0.68      0.68      0.67    111425