Standard imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tweepy
import datetime
import json

Text cleaner imports

In [3]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import string
from nltk.stem import PorterStemmer
import re

stop_words=stopwords.words('english')
punct=string.punctuation
stemmer=PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ysgard\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

This imports the hedonometer words. Could be used for sentiment analysis.

In [178]:
hedonometer = pd.read_csv("../Hedonometer.csv")

#initialize the categorization
negative_words, neutral_words, positive_words, all_words = {}, {}, {}, {}

# how clearly valent do we want the words?
tolerance = 0

# demark words that are clearly negative or positive (neutral is within tolerance standard deviations of 5)
for i in hedonometer.index:
    score = (hedonometer['Happiness Score'][i]-5)/5
    if score+tolerance*hedonometer['Standard Deviation of Ratings'][i]/5<0:
        negative_words[hedonometer.Word[i]] = score
    elif score-tolerance*hedonometer['Standard Deviation of Ratings'][i]/5>5:
        positive_words[hedonometer.Word[i]] = score
    else: 
        neutral_words[hedonometer.Word[i]] = score
    all_words[hedonometer.Word[i]] = score

This can save stuff for later usage, in case they're handy.

In [30]:
def tweet_saver(tweets, file='TWagner.csv'):
    with open(file, 'a', encoding='utf8') as saveTweets:
        for tweet in tweets: 
            saveTweets.write(str(tweet._json)+'\n')
    
def user_saver(user, file='UUagner.csv'):
    with open(file, 'a', encoding='utf8') as saveUser:
        saveUser.write(str(user)+'\n')

Personal info please don't use.

In [10]:
ck = 'QxPH3Ud4nFeHxfiOsnzNr2sql'
cs = ''
at = '1393253063528431621-Tk8YAgtU3B4SwJa4DmHlhfGlcaiWN6'
ats = ''

This creates an instance of the API so that I can pull Tweets from Twitter.

In [11]:
# create OAuthHandler object
authenticator = tweepy.OAuthHandler(ck, cs)
# set access token and secret
authenticator.set_access_token(at, ats)
# create tweepy API object to fetch tweets
API = tweepy.API(authenticator, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

Practicing/experimenting with followers.

In [203]:
API.show_friendship(source_screen_name='DougEpisodes', target_id=1015024528337129473)

(Friendship(_api=<tweepy.api.API object at 0x000001F975D9C588>, _json={'id': 2485562569, 'id_str': '2485562569', 'screen_name': 'DougEpisodes', 'following': False, 'followed_by': True, 'live_following': False, 'following_received': None, 'following_requested': None, 'notifications_enabled': None, 'can_dm': True, 'blocking': None, 'blocked_by': None, 'muting': None, 'want_retweets': None, 'all_replies': None, 'marked_spam': None}, id=2485562569, id_str='2485562569', screen_name='DougEpisodes', following=False, followed_by=True, live_following=False, following_received=None, following_requested=None, notifications_enabled=None, can_dm=True, blocking=None, blocked_by=None, muting=None, want_retweets=None, all_replies=None, marked_spam=None),
 Friendship(_api=<tweepy.api.API object at 0x000001F975D9C588>, _json={'id': 1015024528337129473, 'id_str': '1015024528337129473', 'screen_name': 'newrockytweets', 'following': True, 'followed_by': False, 'following_received': None, 'following_requested': None}, id=1015024528337129473, id_str='1015024528337129473', screen_name='newrockytweets', following=True, followed_by=False, following_received=None, following_requested=None))

Let's make a dataframe of activity

In [5]:
def get_activity(user, count=20, local=False):
    # Make sure we're finding the right user
    if local:
        with open(user, 'r', encoding='utf8') as reader:
            pass
    elif type(user)==str:
        apitivity = API.user_timeline(screen_name=user, count=count)
    elif type(user)==int:
        apitivity = API.user_timeline(user_id=user, count=count)
    else:
        raise Exception("Bad user.") 
        
    # Make a list of the statuses
    activiray = []
    #and add the relevant data
    for tweet in apitivity:
        try: 
            tweet.retweeted_status
            is_retweet = True
        except: 
            is_retweet = False
        activiray.append([tweet.text,
                         tweet.id,
                         is_retweet,
                         tweet.is_quote_status,
                         type(tweet.in_reply_to_status_id)==int,
                         tweet.retweet_count,
                         tweet.favorite_count,
                         tweet.created_at])
        
    # turn it into a dataframe
    activi pd.DataFrame(activiray, columns=['Text', 'Id', 'Is_retweet', 'Is_quote', 'Is_reply', 'Retweets', 'Favorites', 'Created'])

In [6]:
def prep_activity(activity, count=20, 
                   streak_lengths=[datetime.timedelta(minutes=30),datetime.timedelta(hours=6)], 
                   per_periods=[datetime.timedelta(hours=1),datetime.timedelta(days=1)]):
    # Did we already get the activity?
    if type(activity)!=pd.core.frame.DataFrame:
        activity = get_activity(activity, count=count)
    
    #clean the text
    cleets = []
    for twittre in activity.Text:
        #this removes mentions
        twittre = re.sub(r'@[A-Za-z0-9_]+', '', twittre)
        #this removes urls
        twittre = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', twittre)        
        #this removes everything but letters from the str
        twittre = re.sub('[^a-zA-Z]',' ',twittre)
        #this makes everything lowercase, then turns everything that is separated by a space into its own str
        twittre = twittre.lower().split()
        #this removes stop words and stems everything else
        twittre = [stemmer.stem(word) for word in twittre if (word not in stop_words)]
        # this puts it all back together with spaces inbetween
        twittre = ' '.join(twittre)
        cleets.append(twittre)
    activity['Cleaned'] = cleets
    
    # record the time since the last status update
    tsl = [activity.Created[n].to_pydatetime() - activity.Created[n+1].to_pydatetime()
                                   for n in range(len(activity)-1)] + [np.nan]
    activity['Time_since_last'] = tsl.copy()
    
    #record how many times in a row the last activity was less than length 
    for length in streak_lengths:
        #record when it was less than length
        streak_break = [time>length for time in tsl[:-1]]+[True]
        
        #intialize beginning of a streak
        start = 0
        streak = []
        for end in range(len(streak_break)):
            #if this is the end of a streak,  
            if streak_break[end]:
                #record it,
                streak += [end+1-start for indx in range(end+1-start)]
                #and begin the next
                start = end+1
        
        #finally, add it to the data frame
        activity['Streak of '+str(length)] = streak
        
    #record how much activity occured within a given period 
    for period in per_periods:
        per = []
        for n in range(len(tsl)):
            elapsed = tsl[n]
            count, m = 0, 1
            #first we look at earlier tweets
            while (m+n<len(tsl)) and (elapsed<=period/2):
                count += 1
                try: elapsed += tsl[m+n]
                except: pass
                m += 1
            m = 0
            elapsed = datetime.timedelta(0)
            #then later tweets
            while n>=m and elapsed<=period/2:
                count += 1
                m += 1
                try: elapsed += tsl[n-m]
                except: pass
            per += [count]
        activity['Per '+str(period)] = per

In [8]:
with open('./erdos_core/0.txt', 'r', encoding='utf8') as reader:
    tweets = reader.readlines()

In [282]:
activity = get_activity('erdosinstitute')
prep_activity(activity)
activity

,Text,Id,Is_retweet,Is_quote,Is_reply,Reply_of,Replying_to,Retweets,Favorites,Created,Cleaned,Time_since_last,Streak of 1:00:00,"Streak of 1 day, 0:00:00",Per 1:00:00,"Per 1 day, 0:00:00"
0,RT @AstronomerPat: @RacineSwick @WorkWithVari ...,1395210702869118982,True,False,False,NaN,NaN,1,0,2021-05-20 02:52:07,rt one week data scienc lectur,2 days 12:09:26,1,1,1,1
1,Dreams can come true @AstronomerPat https://t....,1394302356267880449,False,True,False,NaN,NaN,0,1,2021-05-17 14:42:41,dream come true,0 days 00:00:38,2,2,2,2
2,@AstronomerPat @WorkWithVari Same excellent co...,1394302197006053379,False,False,True,1.394291e+18,9.130586e+17,0,1,2021-05-17 14:42:03,excel content screen,10 days 14:15:05,2,2,2,2
3,Our May Data Science Boot Camp is in full swin...,1390463130627674113,False,True,False,NaN,NaN,0,4,2021-05-07 00:26:58,may data scienc boot camp full swing photo credit,0 days 00:09:20,2,2,2,2
4,@AstronomerPat @MattOsborne71: This is the mos...,1390460782647906306,False,False,True,1.390296e+18,9.130586e+17,1,6,2021-05-07 00:17:38,retweet ever photo data scienc boot camp,6 days 12:42:47,2,2,2,2
5,RT @columbusbiz1st: How an OSU math professor ...,1388094491609997320,True,False,False,NaN,NaN,2,0,2021-04-30 11:34:51,rt osu math professor match ph privat sector job,1 days 10:16:08,1,1,1,1
6,Our May Data Science Boot Camp with over 350 g...,1387577050735812608,False,False,False,NaN,NaN,1,9,2021-04-29 01:18:43,may data scienc boot camp grad student postdoc...,6 days 09:23:46,1,1,1,1
7,Invitations to Industry continues tonight with...,1385260846515773444,False,False,False,NaN,NaN,1,1,2021-04-22 15:54:57,invit industri continu tonight kenneth maynard...,1 days 16:01:56,1,1,1,1
8,RT @OSUmath: The Hidden Figures course develop...,1384656382406840329,True,False,False,NaN,NaN,3,0,2021-04-20 23:53:01,rt hidden figur cours develop dr ranthoni edmo...,9 days 03:36:50,1,1,1,1
9,Invitations to Industry continues Monday 04/12...,1381340320051384321,False,False,False,NaN,NaN,0,0,2021-04-11 20:16:11,invit industri continu monday thoma sznigir st...,8 days 19:50:50,1,1,1,1
10,RT @Schrodinger: SchrÃ¶dingerâ€™s Chief Biomedica...,1378141537788432384,True,False,False,NaN,NaN,9,0,2021-04-03 00:25:21,rt schr dinger chief biomed scientist karen ak...,1 days 22:16:48,1,1,1,1
11,Invitations to Industry continues Thu 04/01 wi...,1377442729899212805,False,False,False,NaN,NaN,1,2,2021-04-01 02:08:33,invit industri continu thu senior ux research ...,2 days 12:23:10,1,1,1,1
12,Join us for Invitations to Industry tonight wi...,1376530932233076741,False,False,False,NaN,NaN,2,11,2021-03-29 13:45:23,join us invit industri tonight astronomi phd a...,3 days 21:17:37,1,1,1,1
13,Invitations to Industry continues tonight with...,1375122247334166529,False,False,False,NaN,NaN,0,0,2021-03-25 16:27:46,invit industri continu tonight traymon beaver ...,1 days 00:53:03,1,1,1,1
14,"May 2021 Boot Camp Participants, Technical Int...",1374746507400859648,False,False,False,NaN,NaN,0,4,2021-03-24 15:34:43,may boot camp particip technic interview prep ...,5 days 19:25:24,1,1,1,1
15,Join us this evening for Invitations to Indust...,1372641283718664195,False,False,False,NaN,NaN,0,2,2021-03-18 20:09:19,join us even invit industri manag advanc analyt,2 days 02:43:34,1,1,1,1
16,@EmilyJoGriffith ðŸš€,1371875346715451401,False,False,True,1.371852e+18,9.233622e+17,0,1,2021-03-16 17:25:45,,1 days 01:14:58,1,1,1,1
17,Invitations to Industry continues tonight Marc...,1371494092773994496,False,False,False,NaN,NaN,0,1,2021-03-15 16:10:47,invit industri continu tonight march th ana mo...,4 days 19:07:36,1,1,1,1
18,@TAMUGradSchool @sigmaxi Thank you for sharing...,1369755736805416961,False,False,True,1.369669e+18,3.867330e+07,1,0,2021-03-10 21:03:11,thank share chang zoom link event help prevent u,0 days 01:28:17,1,2,1,2
19,RT @TAMUGradSchool: Interested in a career in ...,1369733522815152129,True,False,False,NaN,NaN,3,0,2021-03-10 19:34:54,rt interest career program develop mgmt amp ev...,NaT,1,2,1,2

In [208]:
clean_activity(activity)

In [209]:
activity

,Text,Id,Created,Is reply,Reply_of,Replying_to,Retweets,Favorites,Is_retweet,Time_since_last,Streak of 1:00:00,"Per 1 day, 0:00:00"
0,RT @AstronomerPat: @RacineSwick @WorkWithVari ...,1395210702869118982,2021-05-20 02:52:07,False,NaN,NaN,1,0,True,2 days 12:09:26,1,1
1,Dreams can come true @AstronomerPat https://t....,1394302356267880449,2021-05-17 14:42:41,False,NaN,NaN,0,1,False,0 days 00:00:38,2,2
2,@AstronomerPat @WorkWithVari Same excellent co...,1394302197006053379,2021-05-17 14:42:03,True,1.394291e+18,9.130586e+17,0,1,False,10 days 14:15:05,2,2
3,Our May Data Science Boot Camp is in full swin...,1390463130627674113,2021-05-07 00:26:58,False,NaN,NaN,0,4,False,0 days 00:09:20,2,2
4,@AstronomerPat @MattOsborne71: This is the mos...,1390460782647906306,2021-05-07 00:17:38,True,1.390296e+18,9.130586e+17,1,6,False,6 days 12:42:47,2,2
5,RT @columbusbiz1st: How an OSU math professor ...,1388094491609997320,2021-04-30 11:34:51,False,NaN,NaN,2,0,True,1 days 10:16:08,1,1
6,Our May Data Science Boot Camp with over 350 g...,1387577050735812608,2021-04-29 01:18:43,False,NaN,NaN,1,9,False,6 days 09:23:46,1,1
7,Invitations to Industry continues tonight with...,1385260846515773444,2021-04-22 15:54:57,False,NaN,NaN,1,1,False,1 days 16:01:56,1,1
8,RT @OSUmath: The Hidden Figures course develop...,1384656382406840329,2021-04-20 23:53:01,False,NaN,NaN,3,0,True,9 days 03:36:50,1,1
9,Invitations to Industry continues Monday 04/12...,1381340320051384321,2021-04-11 20:16:11,False,NaN,NaN,0,0,False,8 days 19:50:50,1,1
10,RT @Schrodinger: SchrÃ¶dingerâ€™s Chief Biomedica...,1378141537788432384,2021-04-03 00:25:21,False,NaN,NaN,9,0,True,1 days 22:16:48,1,1
11,Invitations to Industry continues Thu 04/01 wi...,1377442729899212805,2021-04-01 02:08:33,False,NaN,NaN,1,2,False,2 days 12:23:10,1,1
12,Join us for Invitations to Industry tonight wi...,1376530932233076741,2021-03-29 13:45:23,False,NaN,NaN,2,11,False,3 days 21:17:37,1,1
13,Invitations to Industry continues tonight with...,1375122247334166529,2021-03-25 16:27:46,False,NaN,NaN,0,0,False,1 days 00:53:03,1,1
14,"May 2021 Boot Camp Participants, Technical Int...",1374746507400859648,2021-03-24 15:34:43,False,NaN,NaN,0,4,False,5 days 19:25:24,1,1
15,Join us this evening for Invitations to Indust...,1372641283718664195,2021-03-18 20:09:19,False,NaN,NaN,0,2,False,2 days 02:43:34,1,1
16,@EmilyJoGriffith ðŸš€,1371875346715451401,2021-03-16 17:25:45,True,1.371852e+18,9.233622e+17,0,1,False,1 days 01:14:58,1,1
17,Invitations to Industry continues tonight Marc...,1371494092773994496,2021-03-15 16:10:47,False,NaN,NaN,0,1,False,4 days 19:07:36,1,1
18,@TAMUGradSchool @sigmaxi Thank you for sharing...,1369755736805416961,2021-03-10 21:03:11,True,1.369669e+18,3.867330e+07,1,0,False,0 days 01:28:17,1,2
19,RT @TAMUGradSchool: Interested in a career in ...,1369733522815152129,2021-03-10 19:34:54,False,NaN,NaN,3,0,True,NaT,1,2

Building a network

In [5]:
def build_core(user, breadth=10, depth=2, core=[], save=False):
    #type user as a screen name so this works
    howrite = 'a'
    
    # Make sure we're finding the right user
    if type(user)==str:
        user = API.get_user(screen_name=user).id
        howrite = 'w'
    elif type(user)!=int:
        raise Exception("Bad user.")
    
    #make sure we have good data
    try:
        friends = API.friends_ids(user_id=user)
        friends[0]
    except: 
        return False
    
    #one list for user's mutuals, one list for everyone
    mutuals = []
    core.append(user)
    if save:
        try:
            with open(save, howrite) as save_file:
                save_file.write(str(user)+'\n')
        except: 
            raise Exception('Bad save file')
    
    #we won't delve too deep or too greedily
    if depth:
        #find random friends of user who follow user back (mutuals)
        for friend in np.random.permutation(friends):
            friend = int(friend)
            if friend not in core:
                if API.show_friendship(source_id=friend, target_id=user)[0].following:
                    #find their mutuals, but only add them to the list if it's good data
                    if build_core(friend, breadth=breadth, depth=depth-1, core=core, save=save):
                        #add them to the list
                        mutuals.append(friend)
                    #but only some of them
                    if len(mutuals)==breadth:
                        print(friend,'has mutuals',mutuals)
                        break
    
    #and here's the list
    return core

In [6]:
def build_crust(core, breadth=100, crust=[], save=False):
    #initialize a list for the crust
    crust = core.copy()
    
    #and a save file if neccessary
    if save:
        try:
            with open(save, 'w') as save_file:
                for core_member in core:
                    save_file.write(str(core_member)+'\n')
        except: 
            raise Exception('Bad save file')
        
    #for each member of the core...
    for core_member in core.copy():   
        skip_number = 0
        #add breadth number...
        follow_number = 0
        #of the core  member's...
        followers = np.random.permutation(API.followers_ids(user_id=core_member))
        
        #followers to the crust...
        for follower in followers:
            follower = int(follower)
            
            #if they are accessible...
            try:
                getted = API.get_user(user_id=follower)
                if getted.protected:
                    raise Exception('Skip this one')
            except:
                skip_number += 1
                continue
                
            #and aren't already in it
            if follower not in crust:
                crust.append(follower)
                if save:
                    with open(save, 'a') as save_file:
                        save_file.write(str(follower)+'\n')
                follow_number += 1
                if follow_number == breadth:
                    break
            else:
                skip_number += 1
        #keep tabs on how the script is going
        print('got',follow_number,'followers of',core_member,'while skipping',skip_number)
    
    return crust

In [53]:
def frame_data(core, crust, data=[], save=False, restart=0):
    #we assign core members as features
    columns = ['user']+['core_'+str(n) for n in range(len(core))]
    if save and not restart: 
        with open(save, 'r') as save_file:
            text = [''] + save_file.readlines()
        for column in columns:
            text[0] += ',' + str(column)
        text[0] += '\n'
        with open(save, 'w+') as save_file:
            save_file.writelines(text)
        
    #now we see which crust members are following which core members
    for n, crust_member in [x for x in enumerate(crust) if x[0]>=restart]:
        #this will hold what we find
        next_line = [crust_member]
        #look up who the crust member is following
        following, pages = API.friends_ids(user_id=crust_member, cursor=-1)
        
        for core_member in core:
            #page through if necessary
            while pages[1] and (core_member not in following):
                more_following, pages = API.friends_ids(user_id=crust_member, cursor=pages[1])
                following += more_following
            next_line.append(core_member in following)
        
        #We'll say people follow themselves
        if n < len(core):
            next_line[n]==True
        
        #now we store it
        data.append(next_line)
        if save: 
            with open(save, 'r') as save_file:
                text = save_file.readlines()
            text[n+1] = text[n+1][:-1]
            for datum in next_line:
                text[n+1] += ',' + str(datum)
            text[n+1] += '\n'
            with open(save, 'w') as save_file:
                save_file.writelines(text)
        print('Stored data for member', n+1, 'of', len(crust))
    
    #and finally put it all together
    return pd.DataFrame(data, index=crust, columns=columns)

In [6]:
tomi_core = build_core('TomiLahren', save='Tomi_core.txt')

1052051030 has mutuals [599767159, 1003398199, 707246777515245572, 277158689, 27104113, 18699142, 1631671458, 44691739, 4235197337, 1052051030]

Rate limit reached. Sleeping for: 890

716326749823438848 has mutuals [180705418, 1066585043626311680, 3354214695, 1099695707341180928, 1161814802, 96698038, 762470063261704192, 419084104, 1269613348003471360, 716326749823438848]

Rate limit reached. Sleeping for: 887

1470633924 has mutuals [262834701, 236287355, 36837114, 462494796, 48761924, 367479753, 395620849, 2740563252, 32691725, 1470633924]

Rate limit reached. Sleeping for: 883

104503831 has mutuals [18266688, 20792657, 110445334, 19115457, 232901331, 18247062, 147725246, 474232856, 825608011, 104503831]
1165002047369826304 has mutuals [52050545, 1675743247, 999632589286670336, 1390840993, 4892988929, 2990685034, 547690781, 1546382263, 28650342, 1165002047369826304]

Rate limit reached. Sleeping for: 888

34667097 has mutuals [22635112, 37040011, 25606255, 55456966, 45014496, 878247600096509952, 63769373, 25457754, 91508945, 34667097]

Rate limit reached. Sleeping for: 890

16175706 has mutuals [2483104627, 58807922, 842327754301423616, 2436338828, 465092949, 4802754257, 856877583803265025, 762789921933307904, 618356934, 16175706]

Rate limit reached. Sleeping for: 888

2665748041 has mutuals [821557387, 19613907, 756198843042193408, 18774951, 267944170, 3310505366, 37718165, 499771067, 45660732, 2665748041]
111660650 has mutuals [2149677560, 2730264319, 902200087, 217634501, 3165740402, 18410315, 449850814, 434458299, 3407890707, 111660650]

Rate limit reached. Sleeping for: 883

30721022 has mutuals [1584092041, 142297864, 72002979, 540240770, 34951162, 280339608, 2272305950, 2268158728, 24880132, 30721022]
39797085 has mutuals [36432879, 18080108, 56319954, 107125748, 98240178, 16869718, 71675903, 25443684, 4532518512, 39797085]

In [ ]:

for i, crusty in enumerate(crust):
    tweets = API.user_timeline(user_id=crusty, count=100)
    tweets_array.append(tweets)
    tweet_saver(tweets, '../Messing around/erdos_crust/'+str(i)+'.txt')
    print('Found',len(tweets),'from number', i)

Found 98 from number 0
Found 100 from number 1
Found 99 from number 2
Found 61 from number 3
Found 64 from number 4
Found 100 from number 5
Found 6 from number 6
Found 100 from number 7
Found 8 from number 8
Found 100 from number 9
Found 3 from number 10
Found 0 from number 11
Found 99 from number 12
Found 100 from number 13
Found 100 from number 14
Found 100 from number 15
Found 100 from number 16
Found 99 from number 17
Found 100 from number 18
Found 42 from number 19
Found 100 from number 20
Found 100 from number 21
Found 100 from number 22
Found 36 from number 23
Found 100 from number 24
Found 100 from number 25
Found 100 from number 26
Found 63 from number 27
Found 100 from number 28
Found 100 from number 29
Found 0 from number 30
Found 99 from number 31
Found 99 from number 32
Found 98 from number 33
Found 100 from number 34
Found 100 from number 35
Found 16 from number 36
Found 2 from number 37
Found 68 from number 38
Found 99 from number 39
Found 100 from number 40
Found 100 from number 41
Found 9 from number 42
Found 60 from number 43
Found 100 from number 44
Found 100 from number 45
Found 100 from number 46
Found 92 from number 47
Found 100 from number 48
Found 35 from number 49
Found 99 from number 50
Found 100 from number 51
Found 100 from number 52
Found 99 from number 53
Found 100 from number 54
Found 100 from number 55
Found 100 from number 56
Found 100 from number 57
Found 100 from number 58
Found 35 from number 59
Found 1 from number 60
Found 100 from number 61
Found 100 from number 62
Found 100 from number 63
Found 98 from number 64
Found 98 from number 65
Found 26 from number 66
Found 100 from number 67
Found 100 from number 68
Found 3 from number 69
Found 7 from number 70
Found 3 from number 71
Found 69 from number 72
Found 88 from number 73
Found 100 from number 74
Found 99 from number 75
Found 11 from number 76
Found 100 from number 77
Found 100 from number 78
Found 100 from number 79
Found 100 from number 80
Found 100 from number 81
Found 100 from number 82
Found 1 from number 83
Found 99 from number 84
Found 30 from number 85
Found 100 from number 86
Found 100 from number 87
Found 65 from number 88
Found 100 from number 89
Found 97 from number 90
Found 100 from number 91
Found 99 from number 92
Found 99 from number 93
Found 100 from number 94
Found 100 from number 95
Found 99 from number 96
Found 15 from number 97
Found 44 from number 98
Found 25 from number 99
Found 100 from number 100
Found 100 from number 101
Found 100 from number 102
Found 3 from number 103
Found 100 from number 104
Found 98 from number 105
Found 94 from number 106
Found 0 from number 107
Found 100 from number 108
Found 100 from number 109
Found 100 from number 110
Found 0 from number 111
Found 43 from number 112
Found 99 from number 113
Found 100 from number 114
Found 100 from number 115
Found 96 from number 116
Found 100 from number 117
Found 100 from number 118
Found 99 from number 119
Found 99 from number 120
Found 100 from number 121
Found 100 from number 122
Found 77 from number 123
Found 100 from number 124
Found 100 from number 125
Found 45 from number 126
Found 27 from number 127
Found 55 from number 128
Found 15 from number 129
Found 99 from number 130
Found 100 from number 131
Found 100 from number 132
Found 100 from number 133
Found 100 from number 134
Found 100 from number 135
Found 100 from number 136
Found 99 from number 137
Found 100 from number 138
Found 100 from number 139
Found 100 from number 140
Found 63 from number 141
Found 34 from number 142
Found 100 from number 143
Found 25 from number 144
Found 100 from number 145
Found 100 from number 146
Found 98 from number 147
Found 97 from number 148
Found 100 from number 149
Found 100 from number 150
Found 100 from number 151
Found 100 from number 152
Found 99 from number 153
Found 99 from number 154
Found 100 from number 155
Found 100 from number 156
Found 100 from number 157
Found 98 from number 158
Found 99 from number 159
Found 100 from number 160
Found 93 from number 161
Found 100 from number 162
Found 100 from number 163
Found 55 from number 164
Found 93 from number 165
Found 100 from number 166
Found 100 from number 167
Found 4 from number 168
Found 100 from number 169
Found 88 from number 170
Found 100 from number 171
Found 100 from number 172
Found 99 from number 173
Found 98 from number 174
Found 41 from number 175
Found 100 from number 176
Found 100 from number 177
Found 100 from number 178
Found 100 from number 179
Found 100 from number 180
Found 32 from number 181
Found 100 from number 182
Found 100 from number 183
Found 93 from number 184
Found 100 from number 185
Found 100 from number 186
Found 4 from number 187
Found 100 from number 188
Found 100 from number 189
Found 99 from number 190
Found 100 from number 191
Found 100 from number 192
Found 100 from number 193
Found 100 from number 194
Found 100 from number 195
Found 13 from number 196
Found 34 from number 197
Found 100 from number 198
Found 100 from number 199
Found 27 from number 200
Found 100 from number 201
Found 100 from number 202
Found 100 from number 203
Found 100 from number 204
Found 97 from number 205
Found 63 from number 206
Found 100 from number 207
Found 100 from number 208
Found 100 from number 209
Found 45 from number 210
Found 19 from number 211
Found 100 from number 212
Found 37 from number 213
Found 65 from number 214
Found 97 from number 215
Found 100 from number 216
Found 100 from number 217
Found 94 from number 218
Found 58 from number 219
Found 100 from number 220
Found 100 from number 221
Found 100 from number 222
Found 18 from number 223
Found 100 from number 224
Found 100 from number 225
Found 100 from number 226
Found 100 from number 227
Found 97 from number 228
Found 100 from number 229
Found 6 from number 230
Found 99 from number 231
Found 100 from number 232
Found 50 from number 233
Found 100 from number 234
Found 100 from number 235
Found 100 from number 236
Found 97 from number 237
Found 100 from number 238
Found 52 from number 239
Found 10 from number 240
Found 100 from number 241
Found 100 from number 242
Found 100 from number 243
Found 100 from number 244
Found 23 from number 245
Found 100 from number 246
Found 100 from number 247
Found 19 from number 248
Found 99 from number 249
Found 74 from number 250
Found 99 from number 251
Found 100 from number 252
Found 99 from number 253
Found 58 from number 254
Found 82 from number 255
Found 4 from number 256
Found 100 from number 257
Found 14 from number 258
Found 100 from number 259
Found 1 from number 260
Found 100 from number 261
Found 28 from number 262
Found 100 from number 263
Found 0 from number 264
Found 100 from number 265
Found 99 from number 266
Found 4 from number 267
Found 100 from number 268
Found 100 from number 269
Found 70 from number 270
Found 100 from number 271
Found 100 from number 272
Found 2 from number 273
Found 100 from number 274
Found 19 from number 275
Found 100 from number 276
Found 14 from number 277
Found 93 from number 278
Found 97 from number 279
Found 100 from number 280
Found 100 from number 281
Found 100 from number 282
Found 100 from number 283
Found 100 from number 284
Found 11 from number 285
Found 42 from number 286
Found 0 from number 287
Found 1 from number 288
Found 99 from number 289
Found 0 from number 290
Found 98 from number 291
Found 69 from number 292
Found 100 from number 293
Found 99 from number 294
Found 77 from number 295
Found 89 from number 296
Found 0 from number 297
Found 1 from number 298
Found 100 from number 299
Found 99 from number 300
Found 4 from number 301
Found 100 from number 302
Found 1 from number 303
Found 100 from number 304
Found 100 from number 305
Found 98 from number 306
Found 100 from number 307
Found 100 from number 308
Found 100 from number 309
Found 100 from number 310
Found 100 from number 311
Found 100 from number 312
Found 99 from number 313
Found 86 from number 314
Found 2 from number 315
Found 98 from number 316
Found 66 from number 317
Found 100 from number 318
Found 100 from number 319
Found 100 from number 320
Found 100 from number 321
Found 100 from number 322
Found 93 from number 323
Found 28 from number 324
Found 34 from number 325
Found 100 from number 326

Found 100 from number 327
Found 2 from number 328
Found 100 from number 329
Found 54 from number 330
Found 100 from number 331
Found 100 from number 332
Found 100 from number 333
Found 100 from number 334
Found 16 from number 335
Found 100 from number 336
Found 8 from number 337
Found 97 from number 338
Found 7 from number 339
Found 100 from number 340
Found 100 from number 341
Found 99 from number 342
Found 100 from number 343
Found 97 from number 344
Found 100 from number 345
Found 100 from number 346
Found 100 from number 347
Found 100 from number 348
Found 100 from number 349
Found 100 from number 350
Found 100 from number 351
Found 100 from number 352
Found 1 from number 353
Found 100 from number 354
Found 100 from number 355
Found 100 from number 356
Found 36 from number 357
Found 100 from number 358
Found 100 from number 359
Found 100 from number 360
Found 1 from number 361
Found 100 from number 362
Found 100 from number 363
Found 100 from number 364
Found 100 from number 365
Found 99 from number 366
Found 17 from number 367
Found 100 from number 368
Found 99 from number 369
Found 100 from number 370
Found 100 from number 371
Found 100 from number 372
Found 82 from number 373
Found 100 from number 374
Found 6 from number 375
Found 95 from number 376
Found 100 from number 377
Found 100 from number 378
Found 100 from number 379
Found 77 from number 380
Found 100 from number 381
Found 100 from number 382
Found 47 from number 383
Found 100 from number 384
Found 52 from number 385
Found 100 from number 386
Found 100 from number 387
Found 83 from number 388
Found 89 from number 389
Found 100 from number 390
Found 9 from number 391
Found 100 from number 392
Found 99 from number 393
Found 100 from number 394
Found 63 from number 395
Found 0 from number 396
Found 59 from number 397
Found 100 from number 398
Found 100 from number 399
Found 100 from number 400
Found 77 from number 401
Found 100 from number 402
Found 100 from number 403
Found 100 from number 404
Found 100 from number 405
Found 100 from number 406
Found 100 from number 407
Found 19 from number 408
Found 100 from number 409
Found 100 from number 410
Found 100 from number 411
Found 100 from number 412
Found 100 from number 413
Found 100 from number 414
Found 21 from number 415
Found 98 from number 416
Found 100 from number 417
Found 100 from number 418
Found 100 from number 419
Found 100 from number 420
Found 100 from number 421
Found 100 from number 422
Found 100 from number 423
Found 86 from number 424
Found 98 from number 425
Found 45 from number 426
Found 100 from number 427
Found 14 from number 428
Found 6 from number 429
Found 100 from number 430
Found 99 from number 431
Found 100 from number 432
Found 100 from number 433
Found 0 from number 434
Found 11 from number 435
Found 58 from number 436
Found 100 from number 437
Found 100 from number 438
Found 95 from number 439
Found 99 from number 440
Found 99 from number 441
Found 100 from number 442
Found 100 from number 443
Found 100 from number 444
Found 32 from number 445
Found 1 from number 446
Found 100 from number 447
Found 100 from number 448
Found 100 from number 449
Found 92 from number 450
Found 99 from number 451
Found 100 from number 452
Found 100 from number 453
Found 100 from number 454
Found 100 from number 455
Found 0 from number 456
Found 100 from number 457
Found 4 from number 458
Found 100 from number 459
Found 100 from number 460
Found 100 from number 461
Found 49 from number 462
Found 100 from number 463
Found 100 from number 464
Found 100 from number 465
Found 30 from number 466
Found 1 from number 467
Found 100 from number 468
Found 99 from number 469
Found 99 from number 470
Found 100 from number 471
Found 91 from number 472
Found 100 from number 473
Found 69 from number 474
Found 45 from number 475
Found 100 from number 476
Found 100 from number 477
Found 20 from number 478
Found 67 from number 479
Found 100 from number 480
Found 100 from number 481
Found 100 from number 482
Found 0 from number 483
Found 5 from number 484
Found 100 from number 485
Found 100 from number 486
Found 100 from number 487
Found 100 from number 488
Found 100 from number 489
Found 100 from number 490
Found 100 from number 491
Found 99 from number 492
Found 83 from number 493
Found 99 from number 494
Found 100 from number 495
Found 99 from number 496
Found 100 from number 497
Found 2 from number 498
Found 100 from number 499
Found 100 from number 500
Found 99 from number 501
Found 100 from number 502
Found 15 from number 503
Found 42 from number 504
Found 100 from number 505
Found 0 from number 506
Found 99 from number 507
Found 42 from number 508
Found 100 from number 509
Found 100 from number 510
Found 100 from number 511
Found 100 from number 512
Found 100 from number 513
Found 99 from number 514
Found 100 from number 515
Found 100 from number 516
Found 98 from number 517
Found 100 from number 518
Found 100 from number 519
Found 0 from number 520
Found 100 from number 521
Found 100 from number 522
Found 17 from number 523
Found 99 from number 524
Found 100 from number 525
Found 100 from number 526
Found 100 from number 527
Found 100 from number 528
Found 99 from number 529
Found 100 from number 530
Found 100 from number 531
Found 100 from number 532
Found 100 from number 533
Found 98 from number 534
Found 100 from number 535
Found 0 from number 536
Found 100 from number 537
Found 100 from number 538
Found 40 from number 539
Found 100 from number 540
Found 22 from number 541
Found 100 from number 542
Found 85 from number 543
Found 97 from number 544
Found 6 from number 545
Found 0 from number 546
Found 10 from number 547
Found 100 from number 548
Found 4 from number 549
Found 100 from number 550
Found 23 from number 551
Found 16 from number 552
Found 86 from number 553
Found 1 from number 554
Found 80 from number 555
Found 99 from number 556
Found 100 from number 557
Found 15 from number 558
Found 100 from number 559
Found 8 from number 560
Found 38 from number 561
Found 0 from number 562
Found 82 from number 563
Found 100 from number 564
Found 100 from number 565
Found 27 from number 566
Found 95 from number 567
Found 26 from number 568
Found 0 from number 569
Found 100 from number 570
Found 100 from number 571
Found 19 from number 572
Found 6 from number 573
Found 1 from number 574
Found 99 from number 575
Found 10 from number 576
Found 100 from number 577
Found 42 from number 578
Found 72 from number 579
Found 19 from number 580
Found 99 from number 581
Found 0 from number 582
Found 99 from number 583
Found 100 from number 584
Found 100 from number 585
Found 99 from number 586
Found 99 from number 587
Found 83 from number 588
Found 51 from number 589
Found 100 from number 590
Found 100 from number 591
Found 100 from number 592
Found 0 from number 593
Found 100 from number 594
Found 100 from number 595
Found 24 from number 596
Found 100 from number 597
Found 100 from number 598
Found 98 from number 599
Found 100 from number 600
Found 75 from number 601
Found 0 from number 602
Found 13 from number 603
Found 62 from number 604
Found 1 from number 605
Found 0 from number 606
Found 3 from number 607
Found 100 from number 608
Found 97 from number 609
Found 6 from number 610
Found 2 from number 611
Found 1 from number 612
Found 100 from number 613
Found 0 from number 614
Found 100 from number 615
Found 4 from number 616
Found 100 from number 617
Found 10 from number 618
Found 100 from number 619
Found 22 from number 620
Found 0 from number 621
Found 0 from number 622
Found 3 from number 623
Found 3 from number 624
Found 100 from number 625
Found 100 from number 626
Found 100 from number 627
Found 100 from number 628
Found 45 from number 629
Found 100 from number 630
Found 4 from number 631
Found 100 from number 632
Found 94 from number 633
Found 100 from number 634
Found 20 from number 635
Found 0 from number 636
Found 3 from number 637
Found 0 from number 638
Found 37 from number 639
Found 100 from number 640
Found 100 from number 641
Found 100 from number 642
Found 96 from number 643
Found 45 from number 644
Found 100 from number 645
Found 100 from number 646
Found 100 from number 647
Found 97 from number 648
Found 100 from number 649

Found 98 from number 650
Found 100 from number 651
Found 100 from number 652
Found 99 from number 653
Found 100 from number 654
Found 99 from number 655
Found 100 from number 656
Found 100 from number 657
Found 100 from number 658
Found 100 from number 659
Found 100 from number 660
Found 100 from number 661
Found 100 from number 662
Found 100 from number 663
Found 100 from number 664
Found 81 from number 665
Found 99 from number 666
Found 100 from number 667
Found 100 from number 668
Found 100 from number 669
Found 100 from number 670
Found 100 from number 671
Found 7 from number 672
Found 100 from number 673
Found 20 from number 674
Found 100 from number 675
Found 0 from number 676
Found 100 from number 677
Found 100 from number 678
Found 100 from number 679
Found 97 from number 680
Found 100 from number 681
Found 100 from number 682
Found 100 from number 683
Found 100 from number 684
Found 100 from number 685
Found 100 from number 686
Found 100 from number 687
Found 100 from number 688
Found 100 from number 689
Found 100 from number 690
Found 100 from number 691
Found 100 from number 692
Found 0 from number 693
Found 100 from number 694
Found 100 from number 695
Found 13 from number 696
Found 67 from number 697
Found 100 from number 698
Found 99 from number 699
Found 100 from number 700
Found 100 from number 701
Found 100 from number 702
Found 100 from number 703
Found 99 from number 704
Found 100 from number 705
Found 98 from number 706
Found 99 from number 707
Found 100 from number 708
Found 100 from number 709
Found 99 from number 710
Found 100 from number 711
Found 100 from number 712
Found 78 from number 713
Found 100 from number 714
Found 100 from number 715
Found 13 from number 716
Found 100 from number 717
Found 100 from number 718
Found 88 from number 719
Found 0 from number 720
Found 100 from number 721
Found 100 from number 722
Found 1 from number 723
Found 50 from number 724
Found 100 from number 725
Found 55 from number 726
Found 100 from number 727
Found 100 from number 728
Found 5 from number 729
Found 100 from number 730
Found 99 from number 731
Found 100 from number 732
Found 100 from number 733
Found 0 from number 734
Found 100 from number 735
Found 100 from number 736
Found 100 from number 737
Found 12 from number 738
Found 100 from number 739
Found 98 from number 740
Found 41 from number 741
Found 100 from number 742
Found 4 from number 743
Found 99 from number 744
Found 15 from number 745
Found 100 from number 746
Found 100 from number 747
Found 96 from number 748
Found 100 from number 749
Found 100 from number 750
Found 100 from number 751
Found 0 from number 752
Found 38 from number 753
Found 100 from number 754
Found 99 from number 755
Found 47 from number 756
Found 100 from number 757
Found 85 from number 758
Found 38 from number 759
Found 17 from number 760
Found 4 from number 761
Found 100 from number 762
Found 0 from number 763
Found 100 from number 764
Found 100 from number 765
Found 100 from number 766
Found 100 from number 767
Found 100 from number 768
Found 100 from number 769
Found 100 from number 770
Found 100 from number 771
Found 100 from number 772
Found 100 from number 773
Found 5 from number 774
Found 82 from number 775
Found 36 from number 776
Found 95 from number 777
Found 54 from number 778
Found 100 from number 779
Found 100 from number 780
Found 100 from number 781
Found 100 from number 782
Found 100 from number 783
Found 55 from number 784
Found 100 from number 785
Found 100 from number 786
Found 10 from number 787
Found 100 from number 788
Found 100 from number 789
Found 0 from number 790
Found 99 from number 791
Found 100 from number 792
Found 100 from number 793
Found 100 from number 794
Found 100 from number 795
Found 100 from number 796
Found 100 from number 797
Found 100 from number 798
Found 100 from number 799
Found 16 from number 800
Found 100 from number 801
Found 99 from number 802
Found 100 from number 803
Found 100 from number 804
Found 88 from number 805
Found 69 from number 806
Found 0 from number 807
Found 100 from number 808
Found 85 from number 809
Found 100 from number 810
Found 92 from number 811
Found 100 from number 812
Found 100 from number 813
Found 100 from number 814
Found 100 from number 815
Found 100 from number 816
Found 100 from number 817
Found 97 from number 818
Found 100 from number 819
Found 100 from number 820
Found 100 from number 821
Found 100 from number 822
Found 7 from number 823
Found 93 from number 824
Found 100 from number 825
Found 100 from number 826
Found 99 from number 827
Found 100 from number 828
Found 100 from number 829
Found 94 from number 830
Found 99 from number 831
Found 100 from number 832
Found 100 from number 833
Found 100 from number 834
Found 0 from number 835
Found 97 from number 836
Found 100 from number 837
Found 15 from number 838
Found 100 from number 839
Found 100 from number 840
Found 100 from number 841

In [5]:
2

2

In [75]:
with open('erdos_full_sample.csv', 'r') as reader:
    lines = reader.readlines()

In [81]:
crust += [int(line) for line in lines[154:]]

In [66]:
API.get_user(screen_name='UnprotectedMe')

User(_api=<tweepy.api.API object at 0x000002327876BF48>, _json={'id': 80076948, 'id_str': '80076948', 'name': 'khadija', 'screen_name': 'unprotectedme', 'location': '', 'profile_location': None, 'description': '', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': True, 'followers_count': 2, 'friends_count': 63, 'listed_count': 0, 'created_at': 'Mon Oct 05 17:24:55 +0000 2009', 'favourites_count': 0, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 5, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '1A1B1F', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme9/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme9/bg.gif', 'profile_background_tile': False, 'profile_image_url': 'http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', 'profile_image_url_https': 'https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', 'profile_link_color': '2FC2EF', 'profile_sidebar_border_color': '181A1E', 'profile_sidebar_fill_color': '252429', 'profile_text_color': '666666', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': True, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=80076948, id_str='80076948', name='khadija', screen_name='unprotectedme', location='', profile_location=None, description='', url=None, entities={'description': {'urls': []}}, protected=True, followers_count=2, friends_count=63, listed_count=0, created_at=datetime.datetime(2009, 10, 5, 17, 24, 55), favourites_count=0, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=5, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='1A1B1F', profile_background_image_url='http://abs.twimg.com/images/themes/theme9/bg.gif', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme9/bg.gif', profile_background_tile=False, profile_image_url='http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', profile_image_url_https='https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png', profile_link_color='2FC2EF', profile_sidebar_border_color='181A1E', profile_sidebar_fill_color='252429', profile_text_color='666666', profile_use_background_image=True, has_extended_profile=False, default_profile=False, default_profile_image=True, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[])

Exploring activity/negativity relationship

In [16]:
from joblib import load

vectord = load('../vectord.joblib') 
model = load('../model.joblib') 

#tweets must be cleaned first
def sentiment(tweets, analogue=False):
    if analogue: 
        probs = model.predict_proba(vectord.transform(tweets).toarray())
        return probs[:,1]-probs[:,0]
    else: return model.predict(vectord.transform(tweets).toarray())

In [17]:
erdos_core = list(pd.read_csv('erdos_full_core.csv')['user'])

In [19]:
erdos_activities = pd.DataFrame()
for n, user in enumerate(erdos_core):
    try:
        activity = get_activity(user, count=1000)
        prep_activity(activity)
        activity['Predicted_polarity'] = sentiment(activity.Cleaned, True)
        activity['User'] = [user for n in range(len(activity))]
        erdos_activities = pd.concat([erdos_activities, activity])
    except: continue
    if not n%10: print(n)

0
10
20
30
40
50
60
70
80
90
100

In [20]:
erdos_activities[['Is_retweet','Is_quote','Is_reply','Retweets','Favorites','Created','Time_since_last','Streak of 0:30:00','Streak of 6:00:00','Per 1:00:00',"Per 1 day, 0:00:00",'Predicted_polarity','User']].to_csv('Erdos_core_tweets.csv', index=False)

Exploring followship/negativity relationship

,Text,Id,Is_retweet,Is_quote,Is_reply,Retweets,Favorites,Created,Cleaned,Time_since_last,Streak of 0:30:00,Streak of 6:00:00,Per 1:00:00,"Per 1 day, 0:00:00",Predicted_polarity,User
0,RT @AstronomerPat: @RacineSwick @WorkWithVari ...,1395210702869118982,True,False,False,1,0,2021-05-20 02:52:07,rt one week data scienc lectur,2 days 12:09:26,1,1,1,1,-0.026356,840727059001417728
1,Dreams can come true @AstronomerPat https://t....,1394302356267880449,False,True,False,0,1,2021-05-17 14:42:41,dream come true,0 days 00:00:38,2,2,2,2,-0.023730,840727059001417728
2,@AstronomerPat @WorkWithVari Same excellent co...,1394302197006053379,False,False,True,0,1,2021-05-17 14:42:03,excel content screen,10 days 14:15:05,2,2,2,2,0.911806,840727059001417728
3,Our May Data Science Boot Camp is in full swin...,1390463130627674113,False,True,False,0,4,2021-05-07 00:26:58,may data scienc boot camp full swing photo credit,0 days 00:09:20,2,2,2,2,-0.026356,840727059001417728
4,@AstronomerPat @MattOsborne71: This is the mos...,1390460782647906306,False,False,True,1,6,2021-05-07 00:17:38,retweet ever photo data scienc boot camp,6 days 12:42:47,2,2,2,2,-0.026356,840727059001417728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18651,@AltonStandifer saw this. looking forward to t...,1312421430915665925,False,False,True,0,0,2020-10-03 15:57:07,saw look forward talk also thought iron ask wa...,0 days 00:00:14,2,2,2,2,0.010908,556041652
18652,Many thanks to @karinbrulliard for including h...,1312421371130130442,False,False,False,1,3,2020-10-03 15:56:53,mani thank includ interview towngown stori,0 days 18:09:22,2,2,2,2,0.725753,556041652
18653,@Jeff_Piestrak @PezeshkiCharles @ugobardi In t...,1312147224558665728,False,False,True,0,2,2020-10-02 21:47:31,famili scienc field gener substanti evid regar,0 days 03:59:29,1,3,1,3,0.188250,556041652
18654,@Jeff_Piestrak @PezeshkiCharles @ugobardi I've...,1312086958248779777,False,False,True,0,2,2020-10-02 17:48:02,like great deal embri work past line seem espec,0 days 01:09:22,1,3,1,3,0.212042,556041652
18655,@PezeshkiCharles Like raptors... https://t.co/...,1312069501341634561,False,False,True,0,1,2020-10-02 16:38:40,like raptor,NaT,1,3,1,3,-0.008599,556041652

In [5]:
tomi_activities = pd.read_csv('Tomi_core_tweets.csv')
with open('Tomi_core.txt', 'r') as reader:
    tomi_core = [int(user) for user in reader.readlines()]

averages = []
for user in tomi_core:
    polarities = tomi_activities.Predicted_polarity[[i for i in tomi_activities.index if tomi_activities.User[i]==user]]
    mean = (0 if len(polarities)==0 else np.mean(polarities))
    averages.append(mean)

In [44]:
averages

[0.04114194694522725,
 0.07433786263837878,
 0.16074189954019405,
 0.19532417971510796,
 -0.005821568789379526,
 0.3589881429514164,
 0.0303263620883977,
 0.06241997161555755,
 0.11038947990641014,
 0.22877099623412356,
 0.1672776981800818,
 -0.03925673271201909,
 -0.023961598843165486,
 -0.08186073376243334,
 0.006291437858897314,
 -0.09945117382384706,
 -0.019014694255329482,
 -0.028951450990162254,
 -0.029918858552976588,
 -0.061489312511163484,
 -0.042581423800928296,
 -0.022716581244002935,
 -0.05278408387109866,
 -0.053669453525394345,
 -0.008839471434550949,
 -0.08402331021794951,
 0.07790118762774641,
 0.0023395298476488026,
 0.050403777920654085,
 -0.07684738327803117,
 0.12862584984475964,
 -0.0033051517951969817,
 0.01658910791156576,
 0.01997550259432464,
 0.08591942425089485,
 -0.0830932865396215,
 0.06783290645299621,
 0.06502560068565374,
 -0.05011216896483873,
 0.03351758251158142,
 0.08840775289229379,
 -0.03686137221410989,
 0.020718566784352868,
 -0.013924678129662544,
 -0.03425235628872195,
 -0.14230244946094112,
 0.11410250191864339,
 0.2237165901664443,
 0.16670304984778525,
 0.10304682807620508,
 0.056056816286987665,
 -0.04250451195069867,
 -0.009255668239666934,
 -0.09683700352262867,
 0.3041394401371668,
 0.08320279375615025,
 0.18629582284744559,
 0.10464335090986293,
 0.09230057257557205,
 0.15562901992046566,
 0.05826668895392407,
 0.1124479831281543,
 0.02433899219070232,
 0.2746267628212435,
 0.2311905408371077,
 0.13106395862881245,
 0.4460064861262251,
 0.07743514742863984,
 0.19883150561064653,
 -0.0194734115444364,
 0.21009414666049533,
 0.19402911167883363,
 -0.023050956706618077,
 0.5215856424542085,
 0.012593531016588666,
 0.16513067158934874,
 0.26594473364072324,
 0.26767929060571516,
 -0.5582007161039966,
 0.009090160594655278,
 0.055950060209371516,
 0.013199478005179954,
 0.14962687339823996,
 0.06305338024345136,
 0.014993627249936796,
 0.054752247080296926,
 0.008770618424349806,
 0.006405818255542457,
 0.08978418577233721,
 -0.050734718129049346,
 -0.008942664680748627,
 -0.024347476544291903,
 0.03727877316095812,
 -0.07218466482727245,
 -0.05621644061186437,
 -0.11342039315769387,
 0.032134634924779026,
 0.038900197702873646,
 0.3272158804505097,
 0.10081270130636717,
 -0.055295761755658826,
 0.18750860929986876,
 0.1256267435444382,
 -0.01634341506002591,
 0.19610725990621802,
 0.20253640356105893,
 0.012956194449900474,
 0.09156383978275051,
 0.14564752953881654,
 0.06126962364288486,
 0.10306418933015418]

In [7]:
tomi_cross_core = pd.read_csv('Tomi_cross_core.csv')
tomi_cross_core['Average_polarity'] = averages
tomi_cross_core.to_csv('Tomi_cross_core.csv', index=False)

User(_api=<tweepy.api.API object at 0x000001AACC353BC8>, _json={'id': 2665748041, 'id_str': '2665748041', 'name': 'Rosanna Landis Weaver', 'screen_name': 'LandisWeaver', 'location': '', 'profile_location': None, 'description': 'I write reports on overpaid CEOs & how funds vote on pay. I read everything I can. I tweet social justice, corporate governance, books, gardens, adoption, kids', 'url': 'https://t.co/TbT3jqonCd', 'entities': {'url': {'urls': [{'url': 'https://t.co/TbT3jqonCd', 'expanded_url': 'https://www.asyousow.org/our-work/ceo-pay', 'display_url': 'asyousow.org/our-work/ceo-pâ€¦', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 5310, 'friends_count': 4012, 'listed_count': 99, 'created_at': 'Mon Jul 21 12:05:53 +0000 2014', 'favourites_count': 126820, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 36177, 'lang': None, 'status': {'created_at': 'Fri May 28 18:00:44 +0000 2021', 'id': 1398338465205477387, 'id_str': '1398338465205477387', 'text': "@Tvbona That's not really a defense.", 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'Tvbona', 'name': 'Thomas V. Bona', 'id': 14752005, 'id_str': '14752005', 'indices': [0, 7]}], 'urls': []}, 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'in_reply_to_status_id': 1398337965751996422, 'in_reply_to_status_id_str': '1398337965751996422', 'in_reply_to_user_id': 14752005, 'in_reply_to_user_id_str': '14752005', 'in_reply_to_screen_name': 'Tvbona', 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/491201168337403905/gYz7IcdG_normal.jpeg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/491201168337403905/gYz7IcdG_normal.jpeg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/2665748041/1546197127', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, id=2665748041, id_str='2665748041', name='Rosanna Landis Weaver', screen_name='LandisWeaver', location='', profile_location=None, description='I write reports on overpaid CEOs & how funds vote on pay. I read everything I can. I tweet social justice, corporate governance, books, gardens, adoption, kids', url='https://t.co/TbT3jqonCd', entities={'url': {'urls': [{'url': 'https://t.co/TbT3jqonCd', 'expanded_url': 'https://www.asyousow.org/our-work/ceo-pay', 'display_url': 'asyousow.org/our-work/ceo-pâ€¦', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=5310, friends_count=4012, listed_count=99, created_at=datetime.datetime(2014, 7, 21, 12, 5, 53), favourites_count=126820, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=36177, lang=None, status=Status(_api=<tweepy.api.API object at 0x000001AACC353BC8>, _json={'created_at': 'Fri May 28 18:00:44 +0000 2021', 'id': 1398338465205477387, 'id_str': '1398338465205477387', 'text': "@Tvbona That's not really a defense.", 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'Tvbona', 'name': 'Thomas V. Bona', 'id': 14752005, 'id_str': '14752005', 'indices': [0, 7]}], 'urls': []}, 'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', 'in_reply_to_status_id': 1398337965751996422, 'in_reply_to_status_id_str': '1398337965751996422', 'in_reply_to_user_id': 14752005, 'in_reply_to_user_id_str': '14752005', 'in_reply_to_screen_name': 'Tvbona', 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}, created_at=datetime.datetime(2021, 5, 28, 18, 0, 44), id=1398338465205477387, id_str='1398338465205477387', text="@Tvbona That's not really a defense.", truncated=False, entities={'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'Tvbona', 'name': 'Thomas V. Bona', 'id': 14752005, 'id_str': '14752005', 'indices': [0, 7]}], 'urls': []}, source='Twitter Web App', source_url='https://mobile.twitter.com', in_reply_to_status_id=1398337965751996422, in_reply_to_status_id_str='1398337965751996422', in_reply_to_user_id=14752005, in_reply_to_user_id_str='14752005', in_reply_to_screen_name='Tvbona', geo=None, coordinates=None, place=None, contributors=None, is_quote_status=False, retweet_count=0, favorite_count=0, favorited=False, retweeted=False, lang='en'), contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='C0DEED', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/491201168337403905/gYz7IcdG_normal.jpeg', profile_image_url_https='https://pbs.twimg.com/profile_images/491201168337403905/gYz7IcdG_normal.jpeg', profile_banner_url='https://pbs.twimg.com/profile_banners/2665748041/1546197127', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[])